<header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(42, 69, 104)">
            <div class="col-md-4 cotainer-fluid">
                <h1 class="p-3"><a class="navbar-brand" href="#">TravelAlot</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse form-inline col-md-6" id="navbarMain">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/waterpark">Water Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/themepark">Theme Parks</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/coaster">Roller Coasters</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="nav-link" href="/resort">Resorts</a>
                    </li>
                </ul>
            </div>
            </div class="collapse navbar-collapse form-inline col" id="navbarMain">
            <form class="navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-light my-sm-0" type="submit">Search</button>
            </form>
                <button class="btn login-btn pl-3 pr-4" data-toggle="tooltip" data-placement="bottom"
                        title="Profile"><a href="/login"><i class="fa-solid fa-user fa-lg"
                                style="color: white;"></i></a></button>
            </div>
        </nav>
    </header>
    <main style="background-color: white;">
        <section>
            <div id="map">
            </div>
        </section>
        <section class="my-5 d-flex justify-content-center">
            <div>
                <h1 class="title">Resorts</h1>
                <hr class="divider">
            </div>
        </section>
        {{#each resorts as |resort| }}
        <section class="row p-4 m-0 section-divide">
            <div class="col text-center">
                <h4>{{resort.name}}</h4>
                <p>{{resort.address}}</p>
                <br>
                <div class="p-2">
                <p>{{resort.description}}</p>
                    <ul class="text-left"> 
                        <li><b>Website: </b><a href="{{resort.website}}" target="_blank">{{resort.website}}</a></li>
                        <li><b>Description Source: </b><a href="{{resort.description_source}}" target="_blank">{{resort.description_source}}</a></li>
                    </ul>
                    <button class="save-attraction-btn p-1" data-attraction-type="resort" data-id="{{resort.id}}" style="background-color: rgba(168, 218, 241, 0.308)">Save this Stay!</button>    
                </div>
            </div>
            <div class="col">
                <img src="{{resort.image}}" class="rounded float-right" alt="montage kapalua bay"
                    style="width: 40rem">
            </div>
        </section>
        {{/each}}
       
        {{!-- <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4> Acqualina Resort & Residences on the Beach</h4>
                <p> 17875 Collins Ave, Sunny Isles Beach, FL 33160</p>
                <br>
                <div class="p-2">
                    <p> This spa resort doesn't take any of its five stars for granted, particularly when it comes to delivering first-rate customer service. Guests can't help but keep the compliments coming: Travelers say the resort staff takes extra care to personalize each experience. However, one problem you might face is exclusivity. Acqualina Resort & Residences on the Beach only has 98 guest rooms and suites, so be sure to book early for an upcoming trip to Sunny Isles Beach, Florida. The rooms come with flat-screen TVs and private balconies, as well as double sinks and glass-enclosed showers. Meanwhile, the property also features three in-house eateries (including a Japanese fusion restaurant opened in January 2021), a grab-and-go market, four pools, a spa and beach amenities. What's more, the hotel is part of The Leading Hotels of the World, meaning Leaders Club members have access to perks here. You'll find Acqualina Resort & Residences on the Beach about 10 miles north of Miami Beach.</p>
                        <ul class="text-left">
                          
                            <li><b>Website:</b><a href="https://www.acqualinaresort.com/?utm_source=local&utm_medium=organic&utm_campaign=website_link  ">https://www.acqualinaresort.com/?utm_source=local&utm_medium=organic&utm_campaign=website_link  </a></li>
                            <li><b>Description Source:</b><a href="https://flavorverse.com/tallest-roller-coasters-in-us/  "> https://flavorverse.com/tallest-roller-coasters-in-us/  </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save this Stay!</button>
            </div>
            <div class="col">
                <img src="../img/resort2.jpeg" class="rounded float-right" alt="acqualina"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4> Rancho Valencia Resort and Spa</h4>
                <p>5921 Valencia Cir, Rancho Santa Fe, CA 92067</p>
                <br>
                <div class="p-2">
                    <p> About a 30-minute drive north of San Diego, Rancho Valencia is a little off the beaten path. But that's why people love it. This Relais & Châteaux property features carefully manicured greenery, and brims with plenty of amenities and activities to woo any type of traveler. Visitors are complimentary of the respectful, thoughtful staff and heap praise on the guest room aesthetic. Accommodations here exude a Mediterranean ambiance with hacienda-style architecture, hardwood furnishings and colorful design accents, as well as deep-soaking tubs and private balconies or patios. For pampering, Rancho Valencia's spa offers indulgences such as herb-infused body wraps and a variety of massage therapies. The delicious cuisine served at The Pony Room – a full-service restaurant that serves breakfast, lunch and dinner as well as handcrafted cocktails </p>
                        <ul class="text-left">
                          
                            <li><b>Website:</b><a href="https://ranchovalencia.com/   "> https://ranchovalencia.com/  </a></li>
                            <li><b>Description Source:</b><a href="  https://travel.usnews.com/hotels/Best-Resorts-in-USA/ "> https://travel.usnews.com/hotels/Best-Resorts-in-USA/   </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)" >Save this Stay!</button>
            </div>
            <div class="col">
                <img src="../img/resort3.jpeg" class="rounded float-right" alt="Rancho"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4> Encore at Wynn Las Vegas </h4>
                <p>3131 Las Vegas Blvd S, Las Vegas, NV 89109</p>
                <br>
                <div class="p-2">
                    <p> Recent travlers gave the Encore's casino high marks for style, especially in the lobby and common areas. The rooms feature similar yet more understated design elements, earning high praise for its floor-to-ceiling windows, spacious setups and overall cleanliness and maintenance. Rooms here start at 745 square feet and feature amenities such as Wynn Dream Beds and bathrooms with separate showers and tubs and flat-screen TVs. The Encore also impresses guests with its accommodating staff. Be forewarned: Recent travelers mentioned the hefty fees for partaking in the minibar's treats. But this is the Encore, after all, where most of the guests are high rollers prepared to splurge. If you're having trouble getting a vacancy at the Encore, consider its sister hotel and neighbor, the Wynn Las Vegas </p>
                        <ul class="text-left">
                            <li><b>Height: 325 ft</b></li>
                            <li><b>Website:</b><a href="https://www.wynnlasvegas.com/rooms-and-suites/encore-rooms/encore-deluxe-resort  "> https://www.wynnlasvegas.com/rooms-and-suites/encore-rooms/encore-deluxe-resort  </a></li>
                            <li><b>Description Source:</b><a href="https://travel.usnews.com/hotels/Best-Resorts-in-USA/  "> https://travel.usnews.com/hotels/Best-Resorts-in-USA/  </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)" >Save this Stay!</button>
            </div>
            <div class="col">
                <img src="../img/resort4.jpeg" class="rounded float-right" alt="Encore"
                    style="width: 40rem">
            </div>
        </section>

        <section class="row p-4 m-0 section-divide">
            
            <div class="col text-center">
                <h4> The Inn & Club at Harbour Town - The Sea Pines Resort  </h4>
                <p>7 Lighthouse Ln, Hilton Head Island, SC 29928</p>
                <br>
                <div class="p-2">
                <p> The stunning Harbour Town area is a great place to station yourself during a Hilton Head trip. And its standout accommodations, The Inn & Club at Harbour Town (part of The Sea Pines Resort), is certainly one of the most popular resorts on the island. Guests who choose to make the (somewhat long) trek here delight in the lush scenery, the luxurious rooms and the professional, approachable and welcoming staff. Rooms come with large flat-screen TVs, blackout-lined window treatments and spacious bathrooms with soaking tubs and luxury toiletries. Visitors also appreciate the numerous on-site dining options. Harbour Town rests in the bottom boot of Hilton Head Island. </p>
                        <ul class="text-left">
                           
                            <li><b>Website:</b><a href=" https://www.seapines.com/accommodations/inn-at-harbour.aspx  ">https://www.seapines.com/accommodations/inn-at-harbour.aspx  </a></li>
                            <li><b>Description Source:</b><a href=" https://travel.usnews.com/hotels/Best-Resorts-in-USA/ "> https://travel.usnews.com/hotels/Best-Resorts-in-USA/  </a></li>
                        </ul>
                    </div>
                    <button class="p-1" style="background-color: rgba(168, 218, 241, 0.308)">Save this Stay!</button>
            </div>
            <div class="col">
                <img src="../img/resort5.jpeg" class="rounded float-right" alt="the inn club"
                    style="width: 40rem">
            </div>
        </section> --}} 
    

    </main>








<script>
    function initMap() {
        var options = {
            zoom: 3,
            center: { lat: 21.0016, lng: -156.6645 }
        }

        var map = new google.maps.Map(document.getElementById('map'), options);


        var markers = [
            {
                coords: { lat: 21.0016, lng: -156.6645 },
                content: '<h2>Montage Kapalua Bay, 1 Bay Dr, Lahaina, HI 96761  </h2>' 
            },
            {
                coords: { lat: 25.9408 , lng: -80.1209},
                content: '<h2> Acqualina Resort & Residences on the Beach, 17875 Collins Ave, Sunny Isles Beach, FL 33160 </h2>' 

            },

            {
                coords: { lat: 32.9912, lng: -117.1862 },
                content: '<h2> Rancho Valencia Resort and Spa, Address: 5921 Valencia Cir, Rancho Santa Fe, CA 92067  </h2>' 

            },

            {
                coords: { lat: 36.1274, lng: -115.1662},
                content: '<h2> Encore at Wynn Las Vegas, 3131 Las Vegas Blvd S, Las Vegas, NV 89109 </h2>'

            },

            {
                coords: { lat: 33.8361, lng: - 81.1637},
                content: '<h2> The Inn & Club at Harbour Town - The Sea Pines Resort, 7 Lighthouse Ln, Hilton Head Island, SC 29928 </h2>'

            }

        ];

        //Loop through markers

        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }


        //Add Marker Function
        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                // icon: 'http://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });


            //check content
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content

                });

                marker.addListener('click', () => {
                    infoWindow.open(map, marker);
                });
            }

        }

    }
</script>



